@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&display=swap');

th, td, tr {
    border: 1px solid black;
    
}
.employeesTable {
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Dosis', sans-serif;
}

.page-item.active .page-link{
        background-color: $color-1;
        border-color: $color-1;
}
.page-link{
    color: $color-3;
}