@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&display=swap');

th, td, tr {
    border: 1px solid black;
    
}
.employeesTable {
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Dosis', sans-serif;
}

.page-link{
    border-radius: 5px;
    background-color: $color-3;
    border: none;
    color: white;
    font-family: cinzel;
    font-weight: bold;
    box-shadow: 1px 1px 1px 1px rgb(171, 170, 170);
    transition: transform 330ms ease-in-out;
    &:hover{
        transform: scale(1.1);
    }
}
.page-item.active .page-link{
    border-radius: 5px;
    background-color: $color-1;
    border: none;
    color: white;
    font-family: cinzel;
    font-weight: bold;
    box-shadow: 1px 1px 1px 1px rgb(171, 170, 170);
    &:hover{
        transform: scale(1);
    }
    cursor: default;
}
